body {
	background: #EFEFEF;
	padding: 0;
	margin: 0;
}

#mappContainer {
	width: auto;
	height: auto;
	margin-top: 15px;
}

#mappContainer>.inner {
	height: auto;
}

#mappContainer .round {
	background: white;
	margin: 15px 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid;
}

#mappContainer .round li {
	margin-left: -40px;
	padding: 10px;
	list-style-type: none;
	padding: 10px;
}

#mappContainer .round li.addr {
	padding: 10px;
	border-bottom: 1px solid;
}

#mappContainer .textinput {
	line-height: 120%;
}

#mappContainer .textinput label {
	height: 30px;
	text-align: center;
	line-height: 30px;
	display: block;
	width: 100px;
	float: left;
}

#mappContainer .input90 {
	width: 100%;
	height: 30px;
	font-size: 14px;
}

.submit_div {
	margin-top: 2px;
	text-align: center;
	clear: both;
}

.submit_div input {
	background: #f48e3c;
	height: 45px;
	width: 90.6%;
	border-radius: 4px;
	line-height: 45px;
	text-align: center;
	color: #FFF;
	font-size: 15pt;
	-webkit-appearance: none;
	border: none;
	font-weight: bold;
}

.InputLine {
	width: 100%;
	height: 40px;
	border: none;
	border-collapse: collapse;
}

.InputLine .left {
	height: 30px;
	width: 40px;
	font-size: 14px;
	color: #4f4f4f;
}

.InputLine .right {
	padding-left: 10px;
	font-size: 14px;
	height: 30px;
}